<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><a href=""><b>Acceuil</b></a></li>
                    <li><a href="">Imprimer tickets/Tickets SMS</a></li>
                    <li><a href="">Annulation/Remboursement</a></li>

                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li><a href="#">Besoin d'aide? <b>Ecrivez nous <i class="fa fa-envelope-o"></i></b> </a></li>
                    <li><a href="#"><b>Connexion / Inscription</b></a></li>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>
</div>